/*light 300, light 300 italic, regular 400 italic, medium 500, bold 700*/

body {
    font-family: montserrat;
    user-select: none;
}

.print {
    visibility: visible;
}

@media print {
    @page {
        margin: 0;
    }

    body {
        margin: 1.6cm;
    }

    .conteudo__print{
        display: none;
    }

    .header__container {

    }

    .rodape__container {
        margin-top: 280px;
    }
}