/*light 300, light 300 italic, regular 400 italic, medium 500, bold 700*/

body {
    font-family: montserrat;
    user-select: none;
}

.print {
    visibility: visible;
}

@media print  {
    .rodape__container{
        margin-top: 150px;
    }
}